<style>
        ul:not(.browser-default)>li{
            list-style-type: circle;
        }
    </style>
    <div id="topControl"></div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col s12 m3" style="text-align: center">
                <br>
                <img src="./data/images/arun.jpg" width="80%" style="border: solid 2px #2c58a0;margin:0 auto">
            </div>
            <div class="col s12 m9">
                <div class="row">
                    <div class="col s12">
                        <h4>Dr. Arun Cyril Jose</h4>
                    </div>
                    <div class="col s12">
                        Assistant professor (Adhoc)<br>
                        <b> Indian Institute of Information Technology Kottayam </b> <br>
                        C/o IISER - Thiruvananthapuram Transit campus, <br>
                        Computer Science Building , CET, Engineering College (P.O)<br>
                        Trivandrum - 695016, Kerala, India.<br>
                        Email: aruncyril <i>at</i> iiitkottayam <i>dot </i>ac.in<br>
                        Hello at: 00 91  04712778319 <br><br>                      
                    </div>
                    <div class="col s12">
                        <h5>Education</h5>
                        <ul>
                            <li>
                                PhD in Computer Engineering: June 2014 – December 2017 Department of Electrical Electronics and Computer Engineering University of Pretoria, South Africa. Supervisor: Prof. Reza Malekian.</li>
                            <li>
                                MS in Forensic Computing: January 2010 – January 2011
                                Coventry University, Coventry, United Kingdom.</li>
                            <li>
                                B.Tech in Computer Science and Engineering: July 2006 – May 2009. Mahatma Gandhi (MG) University, Kerala, India.
                            </li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Professional Activities (Reviewer)</h5>
                        <ul>
                            <li>IEEE Access Journal with impact factor of 3.244.</li>
                            <li>IEEE Sensors Journal with impact factor of 2.51.</li>
                            <li>IEEE Transactions on Intelligent Transportation Systems with impact factor of 3.724.</li>
                            <li>Journal of Internet Technology with impact factor of 1.930.</li>
                            <li>KSII Transactions on Internet and Information Systems with impact factor of 0.452.</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Publications</h5>
                        <ul style="text-align:justify;">
                            <li> Kevin W. G. Cowdrey, Jaco de Lange, Reza Malekian, Johan Wanneburg, Arun Cyril Jose, "Applying Queueing Theory for the Optimization of a Banking Model," Journal of Internet Technology, vol. 19, no. 2 , pp. 381-389, March 2018. http://jit.ndhu.edu.tw/ojs/index.php/jit/article/view/1658</li>
                            <li> A. C. Jose, R. Malekian, "Improving Smart Home Security: Integrating Logical Sensing Into Smart Home," in IEEE Sensors Journal, vol. 17, no. 13, pp. 4269-4286, July1, 2017. One of the 25 most downloaded Sensors Journal papers from July 2017 till April 2018. http://ieeexplore.ieee.org/document/7930376/</li>
                            <li> A.C Jose, R. Malekian, N. Ye, "Improving Home Automation Security; Integrating Device Fingerprinting Into Smart Home", IEEE Access, vol. 4, October 2016. http://ieeexplore.ieee.org/document/7563403/</li>
                            <li> A.C Jose, R. Malekian, “Smart Home Automation Security: A Literature Review”, Smart Computing Review, Vol. 5, No. 4, pp. 269-285, August 31, 2015. The paper has over 11,300 complete paper reads on ‘Researchgate’ also it was the most read publication in the department on ‘Researchgate’ for 12 months. http://www.smartcr.org/view/vol5no4.html</li>
                            <li> A. C. Jose, R. Malekian, Babedi B. Letswamotse, "Improving Smart Home Security: Integrating Behaviour Prediction Into Smart Home," International Journal of Sensor Networks. [In Press]. </li>    
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Scholarships Received</h5>
                        <ul style="text-align:justify;">
                            <li>Awarded University of Pretoria, Postgraduate Doctoral Scholarship from 2014 - 2016 worth R 15,000.</li>
                            <li>Awarded University of Pretoria, Research Support Bursary from 2014 - 2016 worth R 195,000.</li>
                            <li>Awarded University of Pretoria, Special International Research Award from 2014 - 2016 worth R 10,400.</li>
                            <li>Awarded 2017, University of Pretoria, Research Support Bursary for exceptional fourth year PhD student worth R 35,000</li>    
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Workshops &amp; Seminars Attended</h5>
                        <ul style="text-align:justify;">
                            <li>Seven day Faculty Development Program on ‘Machine Learning’ held at Saintgits College of Engineering, Kerala, India from 18th June 2018 to 22nd June 2018.</li>
                            <li>THE IEEE SUMMIT - 5G IN FUTURE AFRICA: The role of IoT, cognitive radio and cybersecurity in networking the next billion, a full day workshop held at University of Pretoria in May 2017.</li>
                            <li>An Adhoc Wireless Communications Network to Monitor Fruits on Trees in a Rural Environment: A half day lecture by an IEEE AP-S Distinguished Lecturer, Professor Monai Krairiksh held at University of Pretoria October 2015.</li>
                            <li>Student-Supervisor Relationship-Roles and Responsibilities: A half day seminar under Prof. Bernard Slipper, held at University of Pretoria in May 2015.</li>
                            <li>Seminar on Ethics in Academic Life: A half day seminar held at University of Pretoria in May 2015.</li>
                            <li>Communicating Research to Non Academic Audience: A 2 hour lecture on how to communicate research to non-academic audience held at University of Pretoria during April 2015.</li>
                            <li>Workshop on Internet of Things (IoT) &amp; Wireless sensor Networks (WSN): A one day workshop held at Council of Scientific &amp; Industrial Research (CSIR) in Pretoria South Africa on March 2015.</li>
                            <li>MOSAIC2B: A Video/Data/Film sharing in remote areas through mobile Apps. A half day seminar held at University of Pretoria in 2014.</li>
                            <li>BLITZKRIEG-‘09: A one day National level technical symposium on Ethical Hacking, organized by the Department of Computer Science and Engineering of St. Joseph College of Engineering and Technology, Pala, Kerala, India, held in 2009.</li>
                            <li>BLITZKRIEG-‘07: A two day National level technical symposium on Mobile Computing, organized by the Department of Computer Science and Engineering of St. Joseph College of Engineering and Technology, Pala, Kerala, India held in 2007.</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Research Interests</h5>
                        <ul>
                            <li>Smart Home Security</li>
                            <li>Device Fingerprinting</li>
                            <li>Logical Sensing from a Security Point of View</li>
                            <li>Behavior Prediction from a Security Point of View</li>
                            <li>Different online surveillance techniques</li>
                            <li>Security based social engineering</li>
                            <li>Network vulnerability detection and intrusion prevention</li>
                            <li>Completely anonymous communication over the internet</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Prospective Students</h5>
                        <p style="text-align:justify;">
                            I am looking for determined, motivated and hardworking PhD students who like to work on research side and contribute to the knowledge. Interested students can contact me via email or telephone.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>