<style>
        ul:not(.browser-default)>li{
            list-style-type: circle;
        }
    </style>
    <div id="topControl"></div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col s12 m3"  style="text-align: center">
                <br>
                <img src="data/images/7BEAA1E0E47C4DD4D7E44D98B2B85388.jpg" width="80%" style="border: solid 2px #2c58a0;">
            </div>
            <div class="col s12 m9">
                <div class="row">
                    <div class="col s12">
                        <h4>Dr. Bakkyaraj Thangarasu</h4>
                    </div>
                    <div class="col s12">
                        Assistant professor (Adhoc)<br>
                        <b> Indian Institute of Information Technology Kottayam </b> <br>
                        C/o IISER - Thiruvananthapuram Transit campus, <br>
                        Computer Science Building , CET, Engineering College (P.O)<br>
                        Trivandrum - 695016, Kerala, India.<br>
                        Email: bakkyaraj <i>at</i> iiitkottayam <i>dot </i>ac.in<br>
                        Hello at: 00 91  04712778309 <br>
                    </div>
                    <div class="col s12">
                        <h5>Research Interests</h5>
                        <p style="text-align:justify;">
                            My broad field of research is nonlinear differential equations.
                            Recently my work is focussed on dynamical
                            systems governed by nonlinear fractional differential and
                            differential - difference equations. The study of fractional
                            differential equations (FDEs) has been handicapped due to the
                            absence of well defined analytic techniques to deal with them
                            in general and deriving their solution in particular.
                            In my work, considerable efforts have been made to devise techniques
                            to derive certain interesting mathematical aspects including
                            solution of FDEs. My recent work extends the following analytic methods to FDEs :
                        </p>
                        <ul>
                            <li>Lie Symmetry Analysis</li>
                            <li>Invariant Subspace Method</li>
                            <li>Homotopy Analysis Method</li>
                            <li>Adomian Decomposition Method</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Publications</h5>
                        <ul style="text-align:justify;">
                            <li>R. Sahadevan and T. Bakkyaraj, Invariant analysis of time fractional generalised Burgers and Korteweg-de Vries equations,  Journal of Mathematical Analysis and Applications, 393 (2012) 341-347.[SCI, Citations:105]</li>
                            <li>T. Bakkyaraj and R. Sahadevan, On solutions of two coupled fractional time derivative Hirota equations, Nonlinear Dynamics, 77 (2014) 1309-1322. [SCI,Citations:18]</li>
                            <li>T. Bakkyaraj and R. Sahadevan, An approximate solution to some classes of fractional nonlinear partial differential- difference equation using Adomian decomposition method,  Journal of Fractional Calculus and Application, 5 (2014) 37-52.[Citations:17]</li>
                            <li>R. Sahadevan and T. Bakkyaraj, Invariant subspace method and exact solutions of certain nonlinear time fractional partial differential equations,  Fractional Calculus and Applied Analysis, 18(1) (2015) 146-162. [SCI-E,Citations:21]</li>
                            <li>T. Bakkyaraj and R. Sahadevan, Invariant analysis of  nonlinear fractional ordinary differential equations with Riemann-Liouville derivative,  Nonlinear Dynamics, 80 (2015) 447-455.[SCI,Citations:27]</li>
                            <li>T. Bakkyaraj and R. Sahadevan, Group formalism of Lie transformations  to time fractional partial differential equations,  Pramana Journal of Physics, 85(5) (2015) 849-860.[SCI,Citations:2]</li>
                            <li>T. Bakkyaraj and R. Sahadevan,  Approximate analytical solution of two coupled time fractional nonlinear Schroedinger equations,  International Journal of Applied and Computational Mathematics, 2 (2016) 113-135. [Citations:9]</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Manuscript Under Preparation</h5>
                        <ul>
                            <li>T. Bakkyaraj, Lie symmetry analysis of nonlinear fractional partial differential equations involving Caputo fractional derivative, (2018).</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Presentations in Conferences/ Workshops</h5>
                        <ul>
                            <li>Effect of Joule heating on steady laminar convective hydromagnetic slip flow over a rotating porous disk with variable properties, National Seminar on Advances in Applied Mathematics, held at the Department of Applied Mathematics, Bharathiar University, Coimbatore during 23rd March 2009.</li>
                            <li> Lie Symmetry Analysis of Fractional Differential Equations , National Workshop and Conference on Evolution Equations: Theory, Methods &amp; Applications held at Indian Institute of Technology, Kanpur during December 2 - 8, 2012.
                            </li>
                            <li>Introduction to Fractional Differential Equations, NMI workshop on Nonlinear Integrable Systems and their Applications held at Centre for Nonlinear Dynamics, Bharathidasan University, Tiruchy during February 24 - March 01, 2014.</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Awards and Fellowships</h5>
                        <ul>
                            <li>NBHM Post Doctoral Fellowship - March 2015.</li>
                            <li>CSIR - Direct Senior Research Fellowship from April 2013 to December 2014. </li>
                            <li>DST - PURSE Fellowship from August 2010 - March 2013.</li>
                            <li>Tamil Nadu State Eligibility Test (SET) - October 2012.</li>
                            <li>CSIR - UGC (JRF) + National Eligibility Test (NET) - June 2012.</li>
                            <li>University Third Rank Holder in M.Sc.- 2007.</li>
                            <li>School First Rank Holder in HSC - 2002.</li>
                            <li>Selected Under Tamil Nadu Rural Students Talent Search Examination (TRuST) - 1998.</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Teaching Experience</h5>
                        <ul>
                            <li>Adhoc Faculty (Mathematics), Indian Institute of Information Technology Kottayam, December 2017 - Present.</li>
                            <li>Faculty on Contract (Mathematics), National Institute of Technology Puducherry, July 2017 - November 2017.</li>
                            <li>Lecturer in Mathematics , Kongu Engineering College, Erode, October 2008 - August 2010.</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Invited Talks</h5>
                        <ul>
                            <li>Various Aspects of Online Resources to Learn Mathematics and Introduction to Fractional Calculus at Pachaiyappa College for Men, Kanchipuram on September 06, 2013.</li>      
                            <li> A crash course on Complex Analysis in the Mathematics Workshop for College Teachers - II held at Vellalar College for Women, Erode during November 18-22, 2013.</li>     
                            <li> Introduction to Mathematical Modeling at Nandha Arts and Science College, Erode on December 27, 2013.</li>
                            <li> Fractional Differential Equations: Mathematical Aspects and Applications at Ramanujan Institute for Advanced Study in Mathematics, Chennai on July 03, 2014.</li>       
                            <li> Lie Symmetry Analysis of Fractional Differential Equations at Department of Mathematics, Periyar University, Salem on September 16, 2016.</li>      
                            <li> Introduction to Fractional Differential Equations at Siri PSG college of Arts and Science for Women, Sankari on October 3,2016.</li>
                            <li> Applications of Mathematics in Engineering at Kongu Engineering College, Erode on March 26,2018.</li>                                
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Participation in Summer Schools, Seminars, Workshops and Conferences</h5>
                        <ul>
                            <li> Visiting Students Study Programme in Mathematics, Harish Chandra Research Institute, Allahabad (June, 2006).</li>
                            <li> National Conference on Differential Equations and Applications, Periyar University, Salem (September 28 - 29, 2006).</li>
                            <li> National Conference on Applications of PDEs, Bharathiar University, Coimbatore (January 24 - 25, 2007).</li>
                            <li> Fourth Annual Foundation School (AFS) Part-II , University of Hyderabad, Hyderabad (May 2008).</li>
                            <li> Training Programme on Instructional Design and Delivery conducted by NITTTR (MHRD), Kongu Engineering College, Erode (January 23 - 25, 2009).</li>
                            <li> National Seminar on Advances in Applied Mathematics, Bharathiar University, Coimbatore (23rd March 2009).</li>
                            <li> Workshop on Application of Nonlinear Dynamics in Engineering and Technology, PSG College of Technology,Coimbatore (30th July to 1st August 2009).</li>
                            <li> National Conference on Differential Equations and Applications, Periyar University, Salem (October 7 - 8, 2010).</li>
                            <li>SERC School on Nonlinear Dynamics (Integrable Systems), Bharathidasan University,Tiruchirappalli (January 04 - 26, 2011). </li>
                            <li>6th National Conference on Nonlinear Systems and Dynamics, Bharathidasan University, Tiruchirappalli (January 27 - 30, 2011). </li>
                            <li>SERC School on Multivariable and Matrix Variable Calculus, Center for Mathematical Sciences, Kerala (April 27 to  May 27, 2011). </li>
                            <li>National Workshop on Mathematical Analysis and its Application, Periyar University, Salem (May 7 - 12, 2012).</li>
                            <li>17th Ramanujan Symposium on Mathematical Analysis, University of Madras, Chennai (October 29 - 31, 2012). </li>
                            <li>National Workshop and Conference on Evolution Equations, Indian Institute of Technology, Kanpur (December 2 - 8, 2012). </li>
                            <li>National Workshop on Applicable Mathematics in Basic Science, Srinivasa Ramanujan Institute for Basic Sciences, Thiruvananthapuram (April 5 - 7, 2013). </li>
                            <li>Advanced Level Workshop on Nonlinear Differential Equations, University of Calcutta, Kolkata (September 21 - 28, 2013). </li>
                            <li>NMI workshop on Nonlinear Integrable Systems, Bharathidasan University, Tiruchirappalli (February 24 - March 01, 2014). </li>
                            <li>National workshop on Mathmatical Modelling and Computational Techniques, NIT Puducherry (July 15, 2017). </li>
                            <li>GIAN workshop on Computational Modelling of Biological and Engineering Systems, NIT  Puducherry (October 30 - November 8,2017). </li>                                    
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5></h5>
                    </div>
                    <div class="col s12">
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>