<style>
        ul:not(.browser-default)>li{
            list-style-type: circle;
        }
    </style>
    <div id="topControl"></div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col s12 m3" style="text-align: center">
                <br>
                <img src="./data/images/jaise.jpg" width="80%" style="border: solid 2px #2c58a0;">
            </div>
            <div class="col s12 m9">
                <div class="row">
                    <div class="col s12">
                        <h4>Dr. Jaise Jose</h4>
                    </div>
                    <div class="col s12">
                        Assistant professor (Adhoc)<br>
                        <b> Indian Institute of Information Technology Kottayam </b> <br>
                        C/o IISER - Thiruvananthapuram Transit campus, <br>
                        Computer Science Building , CET, Engineering College (P.O)<br>
                        Trivandrum - 695016, Kerala, India.<br>
                        Email: jaise <i>at</i> iiitkottayam <i>dot </i>ac.in<br>
                        Hello at: 00 91  04712778310 <br>                         
                    </div>
                    <div class="col s12">
                        <h5>Honours and Achievements</h5>
                        <ul>
                            <li> Best Outgoing Student Award at the St. Joseph’s College, Devagiri, Calicut. Kerala – 2009  </li>
                            <li>  Junior Research Fellowship by IISER-TVM (Ministry of Human Resource Development) - 2012 </li>
                            <li> Senior Research Fellowship by IISER-TVM (Ministry of Human Resource Development) - 2014</li>                          
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Education</h5>
                        <ul>
                            <li>Ph.D., Indian Institute of Science Education and Research, Thiruvananthapuram, India (2018)</li>
                            <li>M.Sc., St. Joseph’s College, Davagiri, Calicut (Calicut University), India (2011)</li>
                            <li>B.Sc., St. Joseph’s College, Davagiri, Calicut (Calicut University), India (2009)USAT),2010</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Oral Presentation</h5>
                        <ul>
                            <li>International Conference on “ADVANCES IN SCIENTIFIC COMPUTING” department of Mathematics,   IIT Madras. Presented paper titled “Finite Dimensional approximation of simplified Landweber iteration for solving nonlinear ill-posed problems” </li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Publications</h5>
                        <ul style="text-align:justify;">
                            <li>Jaise Jose and M. P. Rajan, An efficient discrete scheme of Landweber iteration for solving nonlinear ill-posed problems (Communicated). </li>
                            <li>Jaise Jose and M. P. Rajan, A simplified Landweber iteration for solving nonlinear ill-posed problems, Int. J. Appl. Comput. Math, 3(2017) 1001-1018.</li>
                            <li>Jaise Jose and M. P. Rajan, Finite dimensional approximation of simplified Landweber iteration for solving nonlinear ill-posed problems, International Conference on Advances in Scientic Computing 2016, IIT Madras.</li>
                            <li>Jaise Jose and M. P. Rajan, An efficient discretization for simplified Landweber iteration for solving nonlinear ill-posed problems (to be submitted).</li>
                            <li>Jaise Jose and M. P. Rajan, An efficient adaptive strategy for discretizing simplified Gauss-Newton scheme for solving nonlinear ill-posed problems (to be submitted).</li>
                        </ul>                                
                    </div>
                    <div class="col s12">
                        <h5>Seminars/Workshops Attended</h5>
                        <ul style="text-align:justify;">
                            <li> Inverse and control problems course under MHRD scheme on Global Initiative on Academic Network (GIAN) conducted in IISER TVM (2016).</li>
                            <li> International Conference on “ Advances in Scientific Computing” department of Mathematics, IIT Madras. (2016).</li>
                            <li> International Conference on Mathematical and Computational Sciences (ICMACS-2015), organized by Don Bosco College, Angadikadavu in association with NITK, Suratkal. (2015).</li>
                            <li> Mathematics enhancement and research orientation program conducted by department of mathematics, NIT Calicut. (2011)</li>
                            <li> UGC National Workshop on Measure Theory, Complex Analysis and Fourier analysis, S S College, Areacode, Kerala. (2011)</li>
                            <li> Mathematics Talent Search and Nature Program organized by department of mathematics, University of Calicut (2009)</li>
                        </ul>                                
                    </div>
                    <div class="col s12">
                        <h5>Research Interests</h5>
                        <ul>
                            <li>Functional Analysis</li>
                        </ul>
                    </div>
                    <div class="col s12">
                    </div>
                </div>
            </div>
        </div>
    </div>