<style>
    ul:not(.browser-default)>li{
        list-style-type: circle;
    }
</style>
<div id="topControl"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col s12 m3" style="text-align: center">
            <br>
            <img src="data/images/Manikandan.jpg"width="80%" style="border: solid 2px #2c58a0;">
        </div>
        <div class="col s12 m9">
            <div class="row">
                <div class="col s12">
                    <h4>Dr. Manikandan V.M.</h4>
                </div>
                <div class="col s12">
                    Assistant Professor (Adhoc) <br>
                    Department of Computer Science and Engineering, <br>
                    Indian Institute of Information Technology Kottayam <br>
                    c/o IISER - Thiruvananthapuram Transit campus, <br>
                    Computer Science Building , CET, Engineering College (P.O)<br>
                    Trivandrum - 695016, Kerala, India.<br>
                    email: manikandan <i>at</i> iiitkottayam <i>dot </i>ac.in<br>
                    phone: +91471 2778316 (off.)<br>
                </div>
                <div class="col s12">
                    <h5>Research Interests</h5>
                    <ul>
                        <li>Digital image watermarking</li>
                        <li>Reversible data hiding</li>
                        <li>Digital image forensics</li>
                    </ul>
                </div>
                <div class="col s12">
                    <h5>Education Details</h5>
                    <ul>
                        <li>Ph.D in Computer Science and Engineering (Thesis submitted), Indian Institute of Information Technology Design and Manufacturing Kancheepuram, Chennai, India (2014-2018)</li>
                        <li>M.Tech in Software Engineering, Cochin University of Science and Technology (CUSAT), Kerala, India (2008-2010)</li>
                    </ul>
                </div>
                <div class="col s12">
                    <h5>Work Experience</h5>
                    <ul>
                        <li>Asst. Professor in Computer Science and Engineering at MEA Engineering College, Kerala, India.(July-2010 to Dec-2013)</li>
                        <li>Full-time Research Scholar at Indian Institute of 
                        Information Technology Design and Manufacturing Kancheepuram, Chennai, India (Jan-2014 to May-2018)</li>
                    </ul>
                </div>
                <div class="col s12">
                    <h5>Additional Qualifications</h5>
                    <ul>
                        <li>UGC-NET in Computer Science and Apllications (2012)</li>
                        <li>GATE (2008), GATE (2012)</li>
                    </ul>
                </div>
                <div class="col s12">
                    <h5>Membership in Professional Bodies</h5>
                    <ul>
                        <li>The Institution of Engineers , India (Membership No: AM134927-1)</li>
                        <li>International Association of Engineers (Membership No: 157337)</li>
                    </ul>
                </div>
                <div class="col s12">
                    <h5>Additional Work Experience</h5>
                    <ul>
                        <li>Reviewers of the following journals</li>
                        <ol>
                            <li>International Journal of Computer Vision and Image Processing (ISSN: 2155-6997 )- IGI Global Publishers</li>
                            <li>International Journal of Engineering Research and Technology (ISSN: 2278-0181)</li>
                            <li>International Journal of Science and Engineering Development Research (ISSN: 2455-2631)</li>
                            <li>International Conference on Design and Manufacturing (IConDM)-2016</li>
                        </ol>
                        <li>M.Tech (Computer Science &amp; Engg.) Course coordinator of MEA Engineering College, Kerala, India.(August-2012 to Dec-2013)</li>
                    </ul>
                </div>
                <div class="col s12">
                    <h5>Extra Curricular Achievements</h5>
                    <ul>
                        <li> NCC B Certificate with B Grade</li>
                        <li> Team member of the Shuttle Badminton team secured Silver medal in inter IIITDM Sports meet conducted at IIITDM Kancheepuram, Chennai, India in 2016.</li>
                    </ul>
                </div>
                <div class="col s12">
                    <h5>List of Publications</h5>
                    <ol>
                        <li> V. M. Manikandan, Nelapati Lava Prasad, V. Masilamani, “Half Difference Expansion Based Reversible Data Hiding Scheme for Medical Image Forensics”, <i>Current Medical Imaging Reviews, Bentham Science</i>, September 2018.  [SCI-E, Scopus]</li>
                        <li>V. M. Manikandan, V. Masilamani,  "Histogram Shifting-based Blind Watermarking Scheme for Copyright Protection in 5G",<i>Computers and Electrical Engineering, Elsevier (Article in Press)</i> [SCI-E, Scopus]</li>
                        <li>V. M. Manikandan, V. Masilamani, "Reversible Data Hiding Scheme During Encryption Using Machine Learning", <i>Procedia Computer Science</i>, vol. 133, pp. 348-356, 2018.  [Scopus]</li>
                        <li>V. M. Manikandan, V. Masilamani, "A Novel Reversible Data Hiding Scheme that Provides Image Encryption", <i>Journal of Image and Graphics</i>, vol. 6, issue 1, pp. 64-68, 2018 [Google Scholar, Crossref]</li>
                        <li> V. M. Manikandan, V. Masilamani,  "Copy-Move Forgery Detection using Histogram Based Package Clustering and Sorted Consecutive Local Binary Patterns",<i>International Journal of Control Theory and Applications</i>, vol. 10, issue. 13, pp. 29-36, 2017 [Scopus indexed during 2008-2016]</li>
                        <li> L. Vijasri, V. M. Manikandan, V. Masilamani,  "Principal Component Analysis Based Paralytic Attack Detection Using a New Distance Measure",<i>Procedia Computer Science</i>, vol. 133, pp. 306-314, 2018.[Scopus]</li>
                        <li>1. V. M. Manikandan, V. Masilamani “A Novel Machine Learning Approach to Prevent Illegal Distribution of Screen Captured Videos”, <i>International Conference on the Science of Electrical Engineering-2018</i>, Israel (Accepted for publication).</li>
                        <li> V. M. Manikandan, V. Masilamani,  "An Efficient Visually Meaningful Image Encryption Using Arnold Transform", <i>IEEE Students' Technology Symposium</i>, pp. 266-271, 2016. IIT Kharagpur [Scopus]</li>
                        <li>V. M. Manikandan, V. Masilamani,  "A Context Dependent Fragile Watermarking Scheme for Tamper Detection from Demosaicked Color Images",<i>Proceedings of 10 th Indian Conference on Computer Vision, Graphics and Image Processing (ICVGIP)</i>, Article No.:61, ACM Digital Library, 2016, IIT Guwahati [Scopus]</li>
                        <li> V. M. Manikandan, V. Masilamani,  "Real-time Scene Change Detection and Entropy Based Semi-fragile Watermarking Scheme For Surveillance Video Authentication",<i>Proceedings of 3rd International Symposium on Big Data and Cloud Computing Challenges (ISBCC)</i>, pp. 101-110, Springer International Publishing, 2016, Chennai [Scopus]</li>
                        <li>Ayesha Sk, V. M. Manikandan, V. Masilamani,  "Combined SVD-DWT Watermarking Scheme with Multi-level Compression Using Sampling and Quantization on DCT Followed by PCA",<i>Proceedings of 3rd International Conference on Frontiers of Intelligent Computing:Theory and Applications (FICTA)</i>, pp. 141-149, Springer International Publishing, 2015 [Scopus] </li>
                        <li>V. M. Manikandan, V. Masilamani,  "A Novel Lossless Compression Based Reversible Data Hiding Scheme with Arnold Transform",<i>National Conference on Computational Intelligence in Electrical and Electronics Engineering</i>, 2017, Chennai. (Received best paper award)</li>
                        <li> V. M. Manikandan, V. Masilamani,  "Quadtree Based Secure Least significant Bit Watermarking
                        ",National Conference on Automata, Graphs and Logics (NAGL), 2015, Madras Christian College, Chennai</li>
                        <li>Ayyappadas K, V. M. Manikandan, V. Masilamani,  "A Novel Approach For Multi-Factor Authentication using Breath",<i>National Conference on Cyber Law and Forensics</i>, 2013</li>
                        <li>Jahfar C, V. M. Manikandan, and Sumam Marry Idicula,  "Multimodal Interface for Text Entry",<i>National Conference on Human computer interaction and Image Processing</i>, 2010</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>