<style>
        ul:not(.browser-default)>li{
            list-style-type: circle;
        }
    </style>
    <div id="topControl"></div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col s12 m3" style="text-align: center">
                <br>
                <img src="data/images/panchami.jpg" width="80%" style="border: solid 2px #2c58a0;">
            </div>
            <div class="col s12 m9">
                <div class="row">
                    <div class="col s12">
                        <h4>Dr. Panchami V</h4>
                    </div>
                    <div class="col s12">
                        Assistant Professor (Adhoc)<br>
                        <b> Indian Institute of Information Technology Kottayam </b> <br>
                        C/o IISER - Thiruvananthapuram Transit campus, <br>
                        Computer Science Building , CET, Engineering College (P.O)<br>
                        Trivandrum - 695016, Kerala, India.<br>
                        Email: panchamam036 <i>at</i> iiitkottayam <i>dot </i>ac.in<br>
                        Hello at: 00 91  04712778318 <br>                            
                    </div>
                    <div class="col s12">
                        <h5>Honours and Achievements</h5>
                        <ul>
                            <li>Best Teacher Award for the year (2015- 2016) –CSE, Toc H Institute of Science and Technology  </li>
                            <li>Got NASSCOM award for the ‘Ladies Safety App’ </li>
                            <li>Senior Research Fellowship by IISER-TVM (Ministry of Human Resource Development) - 2014</li>
                            <li>Secured 2 nd position for the paper presentation (CS/IT) in the Techno Cultural Fest Brahma held on 2013</li>                            
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Education</h5>
                        <ul>
                            <li>Ph.D, Information and Communication Engineering (Thesis submitted), Thesis titled: “An Efficent symmetric cipher for Mobile Devices to Ensure End to End Communication”, Anna University, Chennai, 2018</li>
                            <li>M.Tech., Computer Science and Engineering, Govt. College of Engineering, Salem, Anna University,2009</li>
                            <li>B.Tech.,  Information Technology, Kerala University, 2007</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Invited Talk/Sessions</h5>
                        <ul style="text-align:justify;">
                            <li>"IP Security", at College of Engineering, Kidagoor, 2017 </li>
                            <li>"An Introduction to Android", at College of Engineering, Kidagoor, 2015</li>    
                        </ul>                            
                    </div>
                    <div class="col s12">
                        <h5>Publications</h5>
                        <ul style="text-align:justify;">
                            <li>Dynamic Color table: A novel S-box for Cryptographic Applications, International Journal for Communication Sytem, Wiley, ISSN No: 1099-1131; e33184, 2017.</li>
                            <li>Panchami.V, Varghese Paul, A.Wahi. “A Fast Color Based Non linear 8 bit Pseudo-Random Number Generator Enabling Diffusion for Lightweight Cryptographic Applications”. Accepted in International Journal of Control Theory and Applications, 2016.</li>
                            <li>Panchami.V, Limy Sebastine. “Security and Privacy of Relational Data Using Access Control and Privacy Protection Mechanism”. ARPN Journal of Engineering and Applied Sciences. ISSN 1819-6608, Vol.10, No.9, May 2015.</li>
                            <li>Panchami.V, Susan Basil. “Attack Identification in a Cryptographic System using Dynamic Taint Propagation”. International Journal of Science and Engineering and Technology Research (IJSETR), Volume 4, Issue 4, April 2015.</li>
                            <li>Panchami.V, Varghese Paul, A.Wahi. “A Fast Color Authentication Algorithm for Secure Mobile Computing”. International Journal of Applied Engineering Research, ISSN 0973-4562, Vol.10 No.20 March 2015.</li>
                            <li>Panchami.V, Minta Thomas, “An Encryption Protocol for End-to-End Secure Transmission of SMS”. International conference on circuit, Power and Computing Technologies [ICCPCT], 978-1-4799-7074-2/15/$31.00, @IEEE, 2015.</li>
                            <li>Panchami.V, Varghese Paul, A.Wahi. “A new cryptographic Algorithm Based on UNICODE and RGB color model”. IJRET: International Journal of Research in Engineering and Technology        eISSN: 2319-1163 | pISSN: 2321-7308, Volume 3, March 2014.</li>
                            <li>Panchami.V, Bonny B. Raj. “ DNA Based Cryptography Using Permutation and Random key Generation Method”, International journal of Innovation Research in Science, Engineering and Technology, Vol.3 Special Issue 5, July 2014, ISSN(Online): 2319-8753</li>
                            <li>Panchami.V, Ninnesha P. “A novel Approach for Medical image Security in PACS”, International Journal of Emerging Trends in Engineering and Development. Issue 4, Vol 2, March 2014, ISSN 2249-6149</li>
                            <li>Panchami.V, Anisha K. Jose, “An Efficient Approach for Security by SDS Algorithm”, International Journal of Emerging Trends in Engineering and Development. Issue 4, Vol 2, March 2014, ISSN 2249-6149.</li>
                            <li>Secured RSA Based on Central Dogma of DNA with Robust Hiding using Insertion Technique. Proceedings on National conference on Emerging Trends in Computer Science and Application – 2013 11-15, February 2013. Published by Bonfring, ISBN 978-93-82338-29-1</li>
                            <li>Panchami.V, Fasila K.A, Sudhin Vamattam. “A Multilevel Security Scheme based on UNICODE and RGB Color Model using DNA Cryptography”. IJCA: International Journal Of Computer And Applications, Proceedings on Emerging Technology Trends on Advanced Engineering Research – 2012 ICETT (3):29-34, January 2013. Published by Foundation of Computer Science, New York, USA. BibTeX.Digital Library URI:  http://www.ijcaonline.org/proceedings/icett/number3/9846-1026
                            ISBN     :   973-93-80872-01-9</li>
                        </ul>        
                    </div>
                    <div class="col s12">
                        <h5>Professional Training/ Short term Course Attended</h5>
                        <ul style="text-align:justify;">
                            <li>Professional Certification on Information Security for the successful completion in “Ethical hacking and Cyber Forensics” on January 2016.</li>
                            <li>Successfully completed Diploma course in Applied Psychology (1 year) by NITTR, Chennai.</li>
                            <li>Successfully completed 1 week in –service training (16-06-2011 to 22-06-2011) on Faculty development programme conducted by Regional Telecom Training Center, Thiruvananthapuram, Kerala.</li>
                            <li>Undergone Industrial Training in C-DIT from 31-08-2005 to 3-09-2005 and become familiar with software development, E-Governance etc.</li>
                            <li>Successfully completed Infosys Campus Connect Program “Train The Trainer Workshop On Mobile Application Development Using Android”.</li>
                            <li>Completed C#.net training in 2007.</li>
                      </ul>                                
                    </div>
                    <div class="col s12">
                        <h5>Research Interests</h5>
                        <ul>
                            <li>Cryptography</li>
                            <li>Blockchain</li>
                            <li>Ethical Hacking and Digital Forensics</li>
                            <li>Developing ANDROID Applications</li>
                            <li>Database Design</li><li>Neural Networks</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>