<style>
    ul:not(.browser-default)>li{
        list-style-type: circle;
    }
</style>
<div id="topControl"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col s12 m3" style="text-align: center">
            <br>
            <img src="./data/images/Ranjit.jpeg" width="80%" style="border: solid 2px #2c58a0;">
        </div>
        <div class="col s12 m9">
            <div class="row">
                <div class="col s12">
                    <h4>Dr. Ranjit Abraham</h4>
                </div>
                <div class="col s12">
                    Assistant Professor (Adhoc)<br>
                    <b> Indian Institute of Information Technology Kottayam </b> <br>
                    C/o IISER - Thiruvananthapuram Transit campus, <br>
                    Computer Science Building , CET, Engineering College (P.O)<br>
                    Trivandrum - 695016, Kerala, India.<br>
                    Email: ranjit.abraham <i>at</i> iiitkottayam <i>dot</i> ac.in<br>
                    Hello At: 00 91  04712778315 <br>
                </div>
                <div class="col s12">
                    <h5>Background :</h5>
                    <p style="text-align:justify;">Formerly Senior Defence Scientist in DRDO (worked under Late Dr. APJ Abdul Kalam), experience spans over 30 years with Academia (worked as Principal and Head of the Department of CSE &amp; IT of Engineering colleges) and Industry (as COO, CTO and Senior Consultant). Held positions as Editor, Technical Chair and Organizing Chair for several International Conferences. Actively interested in Research and Commercial Data Science projects.</p>                        
                </div>
                <div class="col s12">
                    <h5>Education :</h5>
                    <ul style="text-align:justify;">
                        <li>Ph.D Information and Communication Engineering , Anna University Coimbatore, 2011</li>
                        <li>DIM Management, Indira Gandhi Open University,1996</li>	
                        <li>M.Tech Computer and Information Sciences, Cochin University of S &amp; T, 1995</li>
                        <li>Pre-PhD Physics, IIT Delhi 1983</li>
                        <li>M.Sc Physics (Electronics Specialization), Kurukshetra University, 1982</li>
                    </ul>
                </div>
                <div class="col s12">
                    <h5>Awards and Recognitions</h5>
                    <ul style="text-align:justify;">
                        <li>Prof. Amit K. Pujari Best Paper Award for 2007 for the paper “Medical datamining with a new algorithm for Feature Selection and Naïve Bayesian classifier”, 10th International Conference on Information Technology (IEEE- ICIT 2007).</li>
                        <li>Best Paper award for the paper “A Comparative study of Discretization and Feature Selection Methods for Medical Data Mining Using Naïve Bayesian Classifier” at the Indian Conference on Computational Intelligence &amp; Information Security (ICCIIS 2007).</li>
                        <li>Mentor for Inter-Science Research Network (IRNet) (since 2011) - a professional forum to promote interdisciplinary research among professionals, scholars and researchers</li>
                        <li>Associate Editor of the International Journal of Computer Science and Electrical Engineering (IJCSEE; ISSN No.:2315-4209) and Editorial member for the ‘Undergraduate Academic Research Journal’ (URJA).</li>
                        <li>Paper Reviewer for the prestigious IEEE Transactions on Knowledge and Data Engineering (TKDE), International Journal of Pattern Recognition and Artificial Intelligence (IJPRAI), International Journal of Educational Research and Development (IJERD). IEEE sponsored International Conference on Advances in Recent Technologies in Communication and Computing (ARTCom).</li>
                        <li>Life member of the Indian Society of Technical Education (ISTE), Senior Member of the Association of Computer Electronics and Electrical Engineers (ACEEE), Member of the International Association of Engineers (IAENG).</li>
                    </ul>
                </div>
                <div class="col s12">
                    <h5>Key Publications</h5>
                    <ul style="text-align:justify;">
                        <li><a href="https://scholar.google.co.in/citations?user=UBOG02MAAAAJ&hl=en" target="_blank">Google Scholar Citations</a></li>                       
                    </ul>
                </div>
                <div class="col s12">
                    <h5>Text Book </h5>
                    <ul>
                        <li>“C Programming Simplified” published in 2003 for first semester undergraduate Engineering students.</li>
                    </ul>
                </div>
                <div class="col s12">
                    <h5>Key Talks</h5>
                    <ul style="text-align:justify;">
                        <li>“Taming data with data mining” - (2-day workshop for faculty and post-graduate students - December 2014 at Adi Shankara Institute of Science and Technology, Kerala, INDIA)</li>
                        <li>“Machine Learning Simplified” (Empowering Engineering Students –June 2014 at Federal Institute of Technology, Kerala, INDIA)</li>
                        <li>“Practical Machine Learning – from data to knowledge” (Key address for the International Conference on Computer Science &amp; Medical Engineering, 2012 held at Cochin, Kerala, INDIA)</li>
                        <li>“Teaching Methodology- A new shift in Paradigm” (Faculty Development Program, 2010, Amal Jyothi College of Engineering, Kerala, INDIA)</li>
                        <li>“Software Project Management and Agile Methodology” (AICTE sponsored Staff Development Programme on "Best Practices in Software”, 2009, Amal Jyothi College of Engineering, Kerala, INDIA)</li>
                        <li>“E-Manufacturing – 21st Century automation” (Continuing Education Programme course by DRDO, 2006, Naval Physical and Oceanographic Laboratory, Cochin, INDIA)</li>
                        <li>“Leveraging Information Technology for Disaster Mitigation” (Institute of Marine Engineers, 2005, Bolgatty Convention Centre, Cochin, INDIA).</li>
                    </ul>
                </div>
                <div class="col s12">
                    <h5>Research Interests:</h5>
                    <ul>
                        <li>Data Science / Machine Learning: Feature Engineering, Algorithm Optimization</li>
                        <li>Pedagogy: Undergraduate Engineering, Computer Science</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>