<style>
        ul:not(.browser-default)>li{
            list-style-type: circle;
        }
    </style>
    <div id="topControl"></div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col s12 m3" style="text-align: center">
                <br>
                <img src="data/images/944C76B56A7CAB522DEBDEECEC0CE8F8.jpg" width="80%" style="border: solid 2px #2c58a0;">
            </div>
            <div class="col s12 m9">
                <div class="row">
                    <div class="col s12">
                        <h4>Dr. Renjith P</h4>
                    </div>
                    <div class="col s12">
                        Assistant professor (Adhoc) <br>
                        Department of CSE, <br>
                        Indian Institute of Information Technology Kottayam <br>
                        c/o IISER - Thiruvananthapuram Transit campus, <br>
                        Computer Science Building , CET, Engineering College (P.O)<br>
                        Trivandrum - 695016, Kerala, India.<br>
                        email: renjithp <i>at</i> iiitkottayam <i>dot </i>ac.in<br>
                        phone: +91471 2778311 (off)<br><br>
                    </div>
                    <div class="col s12">
                        <h5>Research Interests</h5>
                        <ul>
                            <li>Graph Theory</li>
                            <li>Design and Analysis of Graph Algorithms</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Education</h5>
                        <ul>
                            <li>Ph.D in graph algorithms, Indian Institute of Information Technology Design and Manufacturing Kancheepuram, Chennai 2017</li>
                            <li>M.Tech in Computer Science and Engineering, College of Engineering Trivandrum, Trivandrum, Kerala 2013</li>
                            <li>B.Tech in Computer Science and Engineering, College of Engineering Perumon, Kollam, Kerala 2010. (Gold medalist)</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Teaching Experience</h5>
                        <ul>
                            <li>Asst. Professor, Heera College of Engineering and Technology, Trivandrum, Kerala (2013)</li>
                            <li>Lecturer, Sree Chithira Thirunal College of Engineering Trivandrum, Kerala (2011)</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Publications</h5>
                        <ul>
                            <li>
                                <b> Refereed Journal Articles </b> <br>
                                P. Renjith and N. Sadagopan. The Steiner tree in K_{1,r}-free split graphs - A Dichotomy. Discrete Applied Mathematics. DOI: <a href="https://doi.org/10.1016/j.dam.2018.05.050">10.1016/j.dam.2018.05.050</a>
                                <br><br>
                                Krishna Mohan Reddy, P. Renjith and N. Sadagopan. “Listing All Spanning Trees in Halin Graphs - Sequential and Parallel view”. Discrete Mathematics Algorithms and Applications, World Scientific Publishing 2017. <br><br>
                            </li>
                            <li>
                                <b> Peer Reviewed Conference Publications </b> <br>
                                P. Renjith and N. Sadagopan. “Hamiltonian Path in K 1,t-free Split Graphs- A Dichotomy”. B.S. Panda and P.P. Goswami (Eds.): CALDAM 2018, LNCS 10743 - Springer,
                                pp. 30-44, 2018. DOI: 10.1007/978-3-319-74180-2 3 <br> <br>
                                
                                P. Renjith and N. Sadagopan. “Hamiltonicity in Split Graphs - A Dichotomy”. D. Gaur and N.S. Narayanaswamy (Eds.): CALDAM 2017, LNCS 10156 - Springer, pp. 320 - 331,
                                2017. DOI: 10.1007/978-3-319-53007-9 28 <br> <br>
                                
                                Madhu Illuri, P. Renjith and N. Sadagopan. “Complexity of Steiner Tree in Split Graphs - Dichotomy Results”. S. Govindarajan and A. Maheshwari (Eds.): CALDAM 2016, LNCS
                                9602 - Springer, pp. 308 - 325, 2016. DOI: 10.1007/978-3-319-29221-2 27 <br> </br>
                                
                                Krishna Mohan Reddy, P.Renjith and N.Sadagopan: “Enumeration of Spanning trees in Halin Graphs - Parallel Perspective”, in the proceedings of 31 st Annual Conference of Ramanujan Mathematical Society, National College, Trichy, June 2016.
                                <br> </br>
                                
                                Vandhana.C, S.Hima Bindhu, P.Renjith, N.Sadagopan and B.Supraja. “Spanning Tree Enumeration in 2-trees: Sequential and Parallel Perspective”, in the proceedings of Interna-
                                tional Conference on Graph Theory and Applications(ICGTA), Amrita University, Coimbatore, India, 2015.
                                <br>
                            </li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Thesis and other Collaborations</h5>
                        <ul>
                            <li>P. Renjith. “On Spanning Trees - Constraints, Variants, and Generalizations (Theory,Algorithm and Dichotomy)”. Ph.D Thesis. IIITDM Kancheepuram, Chennai, India 2017</li>
                            <li>P. Renjith, N. Sadagopan and Douglas B. West. “Spanning Trees in 2-trees ”. In:<a href="https://arxiv.org/abs/1607.05817v1">arXiv</a>  2016</li>
                            <li>P. Renjith and N. Sadagopan. “Hamiltonicity in Split Graphs- a dichotomy”. (under review) Discrete Applied Mathematics 2017</li>
                        </ul>
                    </div>
                    <div class="col s12">
                    </div>
                    <div class="col s12">
                    </div>
                </div>
            </div>
        </div>
    </div>