<style>
        ul:not(.browser-default)>li{
            list-style-type: circle;
        }
    </style>
    <div id="topControl"></div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col s12 m3" style="text-align: center">
                <br>
                <img src="data/images/shajulin.jpg" width="80%" style="border: solid 2px #2c58a0;">
            </div>
            <div class="col s12 m9">
                <div class="row">
                    <div class="col s12">
                        <h4>Dr. Shajulin Benedict M.E. Ph.D PostDoc(Germany)</h4>
                    </div>
                    <div class="col s12">
                        Assistant professor (Adhoc)<span id='badgeCont173505' style='width:26px'></span><br>
                        IEEE Senior Member <br>
                        (IIITKottayam-Placement Incharge) <br>
                        <b> Indian Institute of Information Technology Kottayam </b> <br>
                        C/o IISER - Thiruvananthapuram Transit campus, <br>
                        Computer Science Building , CET, Engineering College (P.O)<br>
                        Trivandrum - 695016, Kerala, India.<br>
                        <b> (Previously) Guest Professor, TUM, Germany,</b> <br>
                        email: shajulin <i>at</i> iiitkottayam <i>dot </i>ac.in<br>
                        Hello at: 00 91 9443543746 <br>                            
                    </div>
                    <div class="col s12">
                        <br>
                        <i> In the middle of difficulty lies opportunity.</i> – Albert Einstein<br>
                        <i> Dream, Dream, Dream. Dream transforms into thoughts, and thoughts result in action". &amp; <br> "We should not give up and we should not allow the problem to defeat us. </i> – A.P.J. Abdul Kalam
                        <br><br>
                    </div>
                    <div class="col s12">
                        <h5>Ongoing Funded projects / grants</h5>
                        <ul>
                            <li>AIC-IIITKottayam (5 years - shortlisted for Phase-II) <br>
                                Name of the Project: <a href="http://icentre.iiitkottayam.ac.in"> IoT Cloud Societal </a> @Rs.3.77 crore. <br>
                                Project Tenure: October 2018 to August 2022 (Tentative Start)
                            </li>
                            <li>
                                    OEAD-DST, Indo-Austrian project <br>
                                    Name of the project: Energy Aware Scientific Workflow Compiler for Future Heterogeneous Systems <br>
                                    Tenure of the project: August 2018 to July 2020
                            </li>
                            <li>
                                    NIMAT-DST, NSTEDB, An Entrepreneurship Program <br>
                                    Name of the project: Cloud Solutions for Emerging IoT Applications <br>
                                    Tenure of the project: 5 weeks
                            </li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Completed Funded projects/grants</h5>
                        <ul>
                            <li>DST-FWF Collaborative Project Grant (3 years) 	<br>
                                Name of the Project	: EASE project - Energy Autotuning of HPC Applications 	<br>
                                Project Tenure		: May 2014 to April 2017
                            </li>
                            <li>
                                DST Project Grant (3 years) 	<br>
                                Name of the Project	: <a href="https://github.com/shajulin/energyanalyzer">  EnergyAnalyzer </a>	<br>
                                Project Tenure		: March 2012 to February 2015                        
                            </li>
                            <li>
                                Returning Experts Grant 	(1 year - Extension)	<br>
                                Name of the Project	: <span class="red-text"> HPCCLoud</span>
                                <img src="data/images/info/HPCCloudLogo.jpg" style="width: 106px; height: 20px; border:0"/></a><br>
                                Project Tenure 		: April 2013 to March 2014
                            </li>
                            <li>
                                Returning Experts Grant 	(2 years)	<br>
                                Name of the Project	: <span class="red-text"> HPCCLoud</span>
                                <img src="data/images/info/HPCCloudLogo.jpg" style="width: 106px; height: 20px;border:0"/></a><br>
                                Project Tenure 		: April 2011 to March 2013
                            </li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Participated Funded projects</h5>
                        <ul>
                            <li>Performance Analysis of large scale scientific applications using Periscope under ISAR project (German Funded Project - 2 years)</li>
                            <li>Hot Standby Routing Protocol for Gigabit Switches (TIFAC Core in Network Engineering, DST Funded)</li>
                            <li>Grid Scheduling Algorithms (TIFAC Core in Network Engineering)</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Awards and Achievements</h5>
                        <ul>
                            <li> Visiting Professor at TUM-Germany 2016-17 </li>
                            <li> Guided two Ph.D thesis; One ongoing Ph.D thesis (Synopsis submitted) </li>
                            <li> Six Research Grants Awardee (Two from Germany; Three from DST, India, and one from AIM-NITIAayog-PhaseII)</li>
                            <li> M.E. Anna University Rank Holder 2002-2004 Batch - Prof. Dr. Rajkamal (www.rajkamal.org) as Teacher. </li>
                            <li> Rank Holder (Academic Excellence) in A.K.College of Engineering 2003-2004 Batch - Prof. Dr. C. Thankaraj as Principal.</li>
                            <li> Distinction Holder for Bachelors and Master Programme </li>
                            <li> First Ph.D Holder in A.K.C.E Research Centre of Anna University 2008 Batch (Prof.Dr.V.Vasudevan as Supervisor) </li>
                            <li> Visiting Scientist, TUM, Germany - Sponsored by TUM, Germany - June 2012, March 2015, May 2016 </li>
                            <li> Training Scholarship Awardee - Oct 2012 - Sponsored by CIM-GIZ and TUM, Germany </li>
                            <li> Dagstuhl Seminar Participant - Sep-Oct 2013 - Sponsored by the Dagstuhl, Germany </li>
                            <li> International Travel Grant Awardee (2014) for presenting a paper in ICC2014 - Sponsored by DST, India </li>
                            <li> DWIH Event - Science Slam Kolkatta - <a href="http://www.india.diplo.de/Vertretung/indien/en/__pr/Edu__Science__News/CIM__ScienceSlam.html?archive=3256580">Second Price Winner </a> at CNN News </li>
                            <li> IEEE IPDPS - Travel Grant Award Recipient (Faculty Section) - 2015 </li>
                            <li> IEEE HiPC 2015 - Travel Grant Award Recipient (Faculty Section) - 2015 </li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Background</h5>
                        <div style="text-align: justify;">
                            Shajulin Benedict graduated in 2001 from Manonmaniam Sunderanar
                            University, India, with Distinction. In 2004, he received M.E Degree
                            in Digital Communication and Computer Networking from A.K.C.E, Anna
                            University, Chennai. He is the University second rank holder for his
                            masters. He did his Ph.D degree in the area of Grid
                            scheduling under Anna University, Chennai (Supervisor - Dr. V. Vasudevan, Director, Software Technologies Group of TIFAC Core in Network Engineering).
                            He was affiliated towards the same group and published more papers in Int. Journals. After his Ph.D award, he joined a research team in Germany to pursue PostDoctorate under the
                            guidance of Prof. Gerndt. He served as Professor at SXCCE Research Centre of Anna University-Chennai. Later, he
                            visited TUM Germany for teaching Cloud Computing as Guest Professor of TUM-Germany. Now, he works at the Indian
                            Institute of Information Technology Kottayam, Kerala, India, an institute of national importance of India.
                            His research interests include Grid scheduling, Performance Analysis of parallel applications (including exa-scale), Cloud Computing, and so
                            forth.<br>
                        </div>
                    </div>
                    <div class="col s12">
                        <h5>Education</h5>
                        <ul>
                            <li>Post Doc, Institut fur Informatik, Techniche Universitat Muenchen at Germany, March 2011</li>
                            <li>Ph.D, Computer Engineering, "ON SCHEDULING IN GRID COMPUTING", Anna University, Chennai, 2008</li>
                            <li>M.E., Digital Communication and Computer Network Engineering, Anna University, Chennai,2004</li>
                            <li>B.E., Electronics and Communication Engineering, M.S. University, Tirunelveli, 2001</li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Talks in Germany and Austria</h5>
                        <ul>
                            <li> Teaching Cloud Computing (at TUM-Germany) -2016-2017 </li>
                            <li> Machine Learning and Cloud Solutions for Tools, TUM-Germany, May 2016 </li>
                            <li> Energy Aware Autotuning for Scientific Applications (ActionPlan) 2014 </li>
                            <li> HPC Cloud Applications and Performance Issues 2012 </li>
                            <li> Instrumenting C based HPC applications 2009</li>                           
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Talks in India</h5>
                        <ul>
                            <li> Machine Learning and HPCCloud solutions, FDP programme, College of Engineering, Kidangoor, CAPE, Kerala, April 2016 </li>
                            <li> Green HPC Cloud Solutions using EnergyAnalyzer, at Kalasalingam University, NAAC Sponsored event, India, 2014 </li>
                            <li> Energy Modeling and Analysis of HPC Applications, Madurai 2014 </li>
                            <li> Energy Modeling Solutions for HPC Clouds, Madurai 2013 </li>
                            <li> Energy Efficient Clouds at Anna University, Chennai 2013 </li>
                            <li> Energy Efficient Sensor Clouds at Kalasalingam University, Sirivilliputhur, India, 2013 </li>
                            <li> OpenMP presentation at SUN Engineering College, Networks Seminar </li>
                            <li> HPC, Grid, Cloud Presentation at Ponjesly College of Engineering </li>
                            <li> Grid, Cloud presentation at St.Xavier's Catholic College of Engineering </a> </li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <h5>Publications / Patents</h5>
                        Please visit, <a target="_blank" href="https://scholar.google.com/citations?user=YbCsvXYAAAAJ&hl=en"> Google Scholar </a> or <a target="_blank" href="https://dblp.uni-trier.de/pers/hd/b/Benedict:Shajulin"> DBLP </a> or <a target="_blank" href="https://github.com/shajulin/energyanalyzer"> Github Products </a> <br>
                    </div>
                    <div class="col s12">
                        <h5>Research Interests</h5>
                        <ul>
                            <li>Energy Consumption Analysis/Reduction Techniques</li>
                            <li>Scalability solutions for exa-scale/Cloud applications</li>
                            <li>Dynamic Instrumentation of Grid / Cloud services - including IoT Societal Clouds</li>
                            <li>Performance Analysis of massive parallel Applications (HPC/Grid/Cloud)</li>
                            <li>Distributed Water Quality Analysis</li>
                            <li>Scheduling algorithms</li>
                        </ul>
                    </div>
                    <div class="col s12">
                    </div>
                </div>
            </div>
        </div>
    </div>