<style>
    .chip{color:rgb(8, 55, 97);font-size:16px;height:50px;padding:10px 20px;margin:0 10px 0 0;}
    .material-icons{float:left; padding-right:4px; font-size: 24px;line-height: 32px;}
</style>
<div id="topControl"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4>About</h4>
            <div class="para justify">
                Indian Institute of Information Technology Kottayam, ( IIITK) Kerala is one among the 20 new IIITs that have been proposed across the country by the Govt of India. The infrastructure development  is implemented on  public-private partnership (PPP) mode with funding from the Central Government, State government and Private Partners in the ratio of 50 : 35: 15.
                <br><br>
            </div>
            <div class="para justify">
                Fifty three acres of land have been allocated for the project by Govt.of Kerala at Valavoor, Pala, Kottayam in the state of Kerala.
                <br><br>
            </div>
            <div class="para justify">
                The institution  offers specialized courses covering all major research domains of computer science and engineering viz Data science, Cloud Computing, Artificial Intelligence, Machine learning, Parallel Computing, HPC, Programming languages, Bioinformatics, and so forth, as part of the 4 year B.Tech program.
                <br><br>
            </div>
            <div class="para justify">
                In addition, Institute offers Ph.D program in CSE/ECE/Mathematics.
                <br><br>
            </<div>
            <div class="para justify">
                The transit campus of  institution is presently functioning in the academic building of the <b>Indian Institute of Science Education and Research , Trivandrum  (IISER-TVM) </b>at Gulati Institute of Finance and Taxation (GIFT) , Thiruvananthapuram.
                <br><br>
            </div>
            <div class="para justify">
                The Institute is governed under the provisions of IIIT (PPP) Act 2017 under the Mentor-ship of IISER TVM . The permanent campus at Valavoor, Pala, Kottayam is expected to be functional in the Academic year 2018-19.
                <br><br>
            </div>
            <div class="para justify">
                Presently the institution is managed under the leadership of Prof. V. Ramakrishnan  (Director, IISER Thiruvananthapuram) as Mentor Director. Mr. M. Radhakrishnan is the Registrar and Dr. M. P. Rajan (Dean Academics, IISER Thiruvananthapuram) is officiating as the Dean Academics.
                <br>
            </div>
        </div>
        <div class="col s12" style="padding:0">
            <br>
            <div class="chip truncate link-color">                                
                <i class="material-icons">insert_link</i>
                <a class="link-color" href="#!pdf/administration/iiit_ppp_act_2017/IIIT PPP Act">IIIT PPP Act (2017)</a>
            </div>
            <div class="chip truncate link-color">                                
                <i class="material-icons">insert_link</i>
                <a class="link-color" href="http://pib.nic.in/newsite/PrintRelease.aspx?relid=169181" target="_blank">IIIT Bill</a>
            </div>
            <br><br>
        </div>
    </div>
</div>