<style>
    .chip{color:rgb(8, 55, 97);font-size:16px;height:50px;padding:10px 20px;margin:0 10px 0 0;}
    .material-icons{float:left; padding-right:4px; font-size: 24px;line-height: 32px;}
</style>
<div id="topControl"></div>
<br>
<div class="container">
    <div class="row">
        <h4>Academics</h4>
        <div class="para justify">
            Currently a B.Tech course in Computer Science is offered. The classes for the first batch commenced in August 2015. Senior faculty members from other Institutions of National Importance like, IITs, IISERs, NITs etc. are mentoring the vibrant faculty team of IIIT Kottayam. Only people with a Ph.D degree from reputed National institutions and having a flare for teaching and research are engaged by IIIT Kottayam. Presently, the institution is mentored by IISER-TVM  and the faculty and staff of IISER-TVM is extending all administrative and academic support to IIIT Kottayam.
            <br><br>
            IIIT Kottayam follows an innovative and dynamic curriculum at par with other Institutions of National Importance with focus on the demands of industry and research. Most of the core courses are covered in the first half while the second half of the B.Tech program largely comprises of need based courses focusing on the demands of the industry as well as thrust on research.
        </div>
    </div>
</div>