<style>
    .chip{color:rgb(8, 55, 97);font-size:16px;height:50px;padding:10px 20px;margin:0 10px 0 0;}
    .material-icons{float:left; padding-right:4px; font-size: 24px;line-height: 32px;}
</style>
<div id="topControl"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4>Admission</h4>
            <div class="para justify">
                Admission to the B.Tech/MS programme will be based on performance in the Joint Entrance Examination (JEE) Main and HSC examinations as per Central Board of Secondary Education (CBSE) guidelines (subject to change as per MHRD, Gov of India).
                <br><br>
                The number of seats in each branch of the B.Tech/MS programme for which admission is to be made will be decided by its Academic Advisory Committee/Senate. Seats are reserved for candidates belonging to the Scheduled Castes, Scheduled Tribes, Other Backward Classes, and physically challenged candidates as per the guidelines set by the Government of India.
                <br><br>
                The tuition fee approved for the BTech program is Rs. 1.8 lakhs per year, but a concession of 25% shall be offered to the 2018 batch throughout their course. Effective payment would be Rs. 1,35,000/- (Rs. One Lakh Thirty Five Thousand Only) per year (two semesters).
                <br><br>
                The initial payment shall be Rs. 67,500/- (for semester 1) as tuition fees, Rs 20,400/- as  hostel rent &amp; Rs. 21,000/- as mess advance.
            </div>
            <br>
            <h4>Ph.D Admissions</h4>
            <br>
            <div class="chip truncate link-color">                                
                <i class="material-icons">insert_link</i>
                <a class="link-color" href="http://www.iiitkottayam.ac.in/phd/index.php/application/view-ad/1">Ph.D Admission - Aug 2018</a>
            </div>
            <div class="chip truncate link-color">                                
                <i class="material-icons">insert_link</i>
                <a class="link-color" href="#!pdf/academics/phd2018_Shortlisted-List-CSE/PhD. CSE Candidates">Candidates selected CSE</a>
            </div>
            <div class="chip truncate link-color">                                
                <i class="material-icons">insert_link</i>
                <a class="link-color" href="#!pdf/academics/phd2018_Shortlisted-List-ECE/PhD. ECE Candidates">Candidates selected ECE</a>
            </div>
            <div class="chip truncate link-color">                                
                <i class="material-icons">insert_link</i>
                <a class="link-color" href="#!pdf/academics/phd2018_Shortlisted-List-Maths/PhD. Maths Candidates">Candidates selected Maths</a>
            </div>
        </div>
    </div>
</div>