<div id="topControl"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col s6">
            <img src="./data/images/club/coding.png" style="float:right" class="materialboxed" data-caption="Beta Club" width="150">
        </div>
        <div class="col s6">
            <h4>Beta Club</h4>
            <h6>(Coding Club)</h6>
        </div>
        <div class="col s12">
            <h4>Introduction</h4>
            <div class="para justify">
                Beta Team is the students' technical club of IIIT Kottayam, intended to increase the interaction of our students with the research world by creating a platform to inspire students and to familiarize them with the booming opportunities around them. Students are updated with the contemporary works of research and technology through group discussions, seminars, and other activities throughout the week. They experience hands-on sessions in the current hot domains of research by working on self-designed projects in small groups. Weekly gatherings are held to analyse and evaluate their progress.
            </div>
            <h4>Vision</h4>
            <div class="para justify">
                The activities of the club motivate self-learning and sharing information amongst peers enabling students to widen the horizon of knowledge whilst sharpening their skills.
            </div>
        </div>
        <div class="col s12">
            <h4>Mentor</h4>
            <table class="para striped responsive-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Siddharth Maurya</td>
                        <td>maurya16@iiitkottayam.ac.in</td>
                    </tr>
                    <tr>
                        <td>Chatala Akhileswara Kumar</td>
                        <td>chatala16@iiitkottayam.ac.in</td>
                    </tr>
                    <tr>
                        <td>Mannem Srinivas</td>
                        <td>mannem16@iiitkottayam.ac.in</td>
                    </tr>
                    <tr>
                        <td>Abhishek Kumar</td>
                        <td>abhishek16@iiitkottayam.ac.in</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>