<style>
        .chip{color:rgb(8, 55, 97);font-size:16px;height:50px;padding:10px 20px;margin:0 10px 0 0;}
        .material-icons{float:left; padding-right:4px; font-size: 24px;line-height: 32px;}
        th,td{
            padding: 15px 2px;
        }
    </style>
    <div id="topControl"></div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <img src="data/images/events/yoga/yoga.jpg" class="materialboxed" width="100%"><br>
                <h5>International Yoga Day Pledge</h5>
                <div class="para">
                    I Pledge to make YOGA an Integral Part of my Daily Life. <a target="blank" href="https://yoga.ayush.gov.in/">Pledge Now</a></div>
                <br>
                <h5>Programme Details</h5>
                <div class="para">
                    Date  : 21st June 2018 at 03:00 PM<br>
                    Venue : Training Hall at Transit Campus
                </div>
                <br>
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Timings</th>
                            <th>Activities</th>
                        </tr>
                    </thead>                
                    <tbody>
                        <tr>
                            <td>03:00-03:05 PM</td>
                            <td>Inaugural Address</td>
                        </tr>
                        <tr>
                            <td>03:05-03:20 PM</td>
                            <td>Talk on “Yoga an Integral Part of Our Daily life"</td>
                        </tr>
                        <tr>
                            <td>03:20-04:00 PM</td>
                            <td>Quiz Programme</td>
                        </tr>
                        <tr>
                            <td>04:00-05:00 PM</td>
                            <td>Various YOGA asanas, involving breathing relaxation and meditation exercises</td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
            <div class="row">
                <div class="col hide-on-small-only m1 l2"></div>
                <div class="col s12 m10 l8">
                    <div class="carousel carousel-slider" data-indicators="true">
                        <a class="carousel-item"><img src="./data/images/events/yoga/yoga18_1.jpeg"></a>
                        <a class="carousel-item"><img src="./data/images/events/yoga/yoga18_2.jpeg"></a>
                        <a class="carousel-item"><img src="./data/images/events/yoga/yoga18_3.jpeg"></a>
                        <a class="carousel-item"><img src="./data/images/events/yoga/yoga18_4.jpeg"></a>
                        <a class="carousel-item"><img src="./data/images/events/yoga/yoga18_5.jpeg"></a>
                        <a class="carousel-item"><img src="./data/images/events/yoga/yoga18_6.jpeg"></a>
                        <a class="carousel-item"><img src="./data/images/events/yoga/yoga18_7.jpeg"></a>
                        <a class="carousel-item"><img src="./data/images/events/yoga/yoga18_8.jpeg"></a>
                        <a class="carousel-item"><img src="./data/images/events/yoga/yoga18_9.jpeg"></a>
                        <a class="carousel-item"><img src="./data/images/events/yoga/yoga18_10.jpeg"></a>
                        <a class="carousel-item"><img src="./data/images/events/yoga/yoga18_11.jpeg"></a>
                        <a class="carousel-item"><img src="./data/images/events/yoga/yoga18_12.jpeg"></a>
                    </div>
                </div>
                <div class="col hide-on-small-only m1 l2"></div>
            </div>
        </div>
    </div>