<div id="topControl"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col s6">
            <img src="./data/images/club/trendles.png" style="float:right" class="materialboxed" data-caption="Trendles Club" width="150">
        </div>
        <div class="col s6">
            <h4>Trendles Club</h4>
            <h6>(Social Club)</h6>
        </div>
        <div class="col s12">
            <h4>Introduction</h4>
            <div class="para justify">
                For the smooth working of any institution there must be a record keeper and announcement group. This club is the content provider and the CCTV of IIIT-K. Creative writing, photography, and videography competitions are organized to boost creative skills among the students. The club is for literature lovers and future authors and creative minds.
            </div>
            <h4>Tagline</h4>
            <div class="para justify">
                "The Timekeeper"
            </div>
            <h4>Motto</h4>
            <div class="para justify">
                "Socializing the institute by creating a domain of networks between students and the world around."
            </div>
            <h4>Agenda</h4>
            <div class="para justify">
                <ul>
                    <li>Virtualizing the institute</li>
                    <li>Keeping a record of every event</li>
                    <li>Providing content to all clubs</li>
                    <li>Promoting institute and events by creating advertisements, posters etc.</li>
                    <li>Organizing intramural events and participating in extramural events</li>
                </ul>
            </div>
            <h4>Working of the club</h4>
            <div class="para justify">
                <ul>
                    <li>Keeping a record of all activities pertaining to the college.</li>
                    <li>Providing content (photos, videos, articles etc.).</li>
                    <li>Promoting and advertising the college on social media, websites etc. through posters, videos, photos etc.</li>
                    <li>Designing almanac, magazines, prospectus etc. of the college.</li>
                    <li>Organizing and participating in writing, photography and videography competitions in and out of the college.</li>
                    <li>Coordinating with other clubs and providing the contents for their events and competitions (like articles and kinds of stuff for debate etc.)</li>
                </ul>
            </div>
        </div>
        <div class="col s12">
            <h4>Mentor</h4>
            <table class="para striped responsive-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sameer Kumar Satyadarshi</td>
                        <td>sameer16@iiitkottayam.ac.in</td>
                    </tr>
                    <tr>
                        <td>Jonnada Sai Madhav</td>
                        <td>madhav16@iiitkottayam.ac.in</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>