<div id="topControl"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col s6">
            <img src="./data/images/club/sportec.jpg" style="float:right" class="materialboxed" data-caption="Sports Club" width="150">
        </div>
        <div class="col s6">
            <h4>Sports Club</h4>
        </div>
        <div class="col s12">
            <h4>Introduction</h4>
            <div class="para justify">
                Sportec encourages students to develop their skills in all kind of sports. The club mainly aims to develop the character of sportsmanship among students. We ensure support ,motivation and facilities students need when it comes to sports. Play well and stay healthy because mental strength alone is not enough for an individual to be perfect. Sports makes you feel excited and brings out the best in you.
            </div>
            <h4>Tagline</h4>
            <div class="para justify">
                “Sports do not build Character, they Reveal it.”
            </div>
        </div>
        <div class="col s12">
            <h4>Events</h4>
            <div class="para justify">
                Sports include all forms of competitive physical activities or games which, through casual or organized
                participation, aim to use, maintain or improve physical ability and skills while providing enjoyment to
                participants, and in some cases, entertainment for spectators.
                Sports Club, promote and participate in many sports such as Cricket, Badminton, Football, Table Tennis,
                Tennikoit , Volleyball and many other indoor games.<br>
                Sports Club&#39;s motto is &quot;Winners don’t always win; they just don’t give up.&quot;<br>
                The institute is furnished with cricket and football grounds. And on the weekends, students have access
                to 2 LNCPE indoor badminton courts.
                Sports in IIIT Kottayam are well encouraged and the students in the college actively participate in sports
                with passion and flair.
                Currently, after classes end, each day, students can practice cricket, football and volleyball in the Don
                Bosco ground which is near the hostels. Two carrom boards are provided in each hostel. Table tennis
                boards are also provided.<br>
                Sports Club provides equipment to the students for whatever sport they are interested in.
                Coming to our past events, Sports Club has hosted 3 sports meets till now. One in Amal Jyothi College of
                Engineering, and two at GIFT, Trivandrum. All the students participated with utmost interest. More
                importantly, IIIT Kottayam participated in the Inter IIIT Sports Meet &#39;Twaran&#39; hosted by IIIT Gwalior. The students participated in cricket, badminton, football, table tennis, athletics, chess, carroms, and swimming.<br>
                The students made a name for themselves and brought fame to our college. Our players secured 1 Gold
                medal in chess, 1 gold medal in carroms and 1 silver medal in carroms. The football team reached the
                semi-final.<br>
                College has provided sufficient funds for sports equipment. Students in IIIT Kottayam are well equipped
                and encouraged with all the facilities. Sports Club is aiming to get as many Gold medals as possible in the
                sports meets which will be conducted in the future. Sports Club ensures the students of IIIT Kottayam all
                the support, motivation and facilities they&#39;d ever need when it comes to sports.<br>
                Play well and stay healthy, because mental strength alone is not enough for an individual to be perfect.
                Sports and games make you feel excited and brings out the best in you.
            </div>
        </div>
        <div class="col s12">
            <h4>Mentor</h4>
            <table class="para striped responsive-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A. Vanshikha Jain</td>
                        <td>vanshikha16@iiitkottayam.ac.in </td>
                    </tr>
                    <tr>
                        <td>Dhulipalla Sahil Teja</td>
                        <td>dhulipalla16@iiitkottayam.ac.in</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>