<div id="topControl"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col s12">
            <center>
                <img class="materialboxed" data-caption="Why IIIT Kottayam" height="250" src="data/images/info/whyIIITK.png">
            </center>
        </div>
        <div class="col s12 m6">
            <h4>About</h4>
            <div class="justify para">
                Indian Institute of Information Technology Kottayam, an institute of national importance under IIIT PPP act, MHRD, Govt.of India, is gearing up under the mentorship of the Indian Institute of Science Education and Research Trivandrum (IISER-TVM). It is currently mentored by Prof. V. Ramakrishnan (Director, IISER-TVM), Shri. M. Radhakrishnan (Registrar, IISER-TVM), and Prof. M.P.Rajan (Dean-Academics, IISER-TVM).
            </div>
        </div>
        <div class="col s12 m6">
            <h4>Diversified Course Structure</h4>
            <div class="justify para">
                As one of the few Indian Institutes of repute, IIIT Kottayam offers specialized courses covering all major research domains of computer science and engineering: Data science, Cloud Computing, Artificial Intelligence, Machine learning, Parallel Computing, Brain simulation, HPC, Programming languages, Bioinformatics, and so forth, as part of the 4 year B.Tech program. In addition, it offers Ph.D programs in CSE, ECE, and Mathematics.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <h4>Placements / Internships</h4>
            <div class="justify para">
                Leading industries keep lining up for conducting interviews and placement/internship drives for our students. In fact, the students of IIIT Kottayam could easily attract industries for pursuing internships during their semester breaks (4 months per year). Most often, these internships do lead to their placement offers. During internships, students attract over Rs. 15,000 per month from leading industries, including Bosch, TCS, NIWE, US Technologies, and so on.
            </div>
        </div>
        <div class="col s12 m6">
            <h4>Entrepreneurial Ecosystem</h4>
            <div class="justify para">
                IIIT Kottayam is designed in order to impart an entrepreneurial ecosystem in the campus. For instance, AIC-IIITKottayam, an incubation centre of IIIT Kottayam, is a vital resource to IIIT Kottayam students; AIC-IIITKottayam is a 10,000 sq.feet incubation unit supported by AIM-NITI Aayog of India to the tune of Rs. 3.77 cr (shortlisted). IIIT Kottayam, thus, helps students to continue championing in their career and attain goals with entrepreneurial support. It provides tens of thousands of opportunities for them to interact with industrial experts, including MSMEs to MNCs.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <h4>Faculty Strength</h4>
            <div class="justify para">
                IIIT Kottayam is composed of world-class qualified faculty members who are eager to continue research and contribute to the Indian/International society along with their wards. They design courses as per the needs of the partnered industries and international requirements. They are passionate enough to mentor students while ensuring moral upliftment of individuals.
            </div>
        </div>
        <div class="col s12 m6">
            <h4>Memorandum of Understanding</h4>
            <div class="justify para">
                IIIT Kottayam has already established MoU with some leading industrial/academic institutions in order to ensure placements or organize knowledge transfer programs - MoUs with Government of India, Government of Kerala, Rolta, and CIAL have manifested the organization of knowledge transfer program. In addition, the institute has signed MoUs with leading Universities such as Technical University Munich Germany in order to conduct HPC/Cloud specific joint research and to organize student exchange programs.
            </div>
        </div>
    </div>
</div>